<article class="story-card" role="article" [attr.aria-labelledby]="'story-title-' + book._id">
    <a [routerLink]="['/info-cuento', book._id]" class="story-card__header-link" [attr.aria-label]="'Ir a la página de ' + book.titulo">
      <header class="story-card__header">
        <h3 class="story-card__title" id="story-title-{{ book._id }}">{{ book.titulo }}</h3>
      </header>
    </a>
    <div class="story-card__content">
      <div class="story-card__actions">
        <a [routerLink]="['/lectura-escritura', book._id]" [queryParams]="{ action: 'leer' }" class="btn btn--read" role="button" [attr.aria-label]="'Leer ' + book.titulo">
          <img src="assets/Book.png" alt="Leer {{ book.titulo }}">
        </a>
        <a [routerLink]="['/lectura-escritura', book._id]" [queryParams]="{ action: 'escuchar' }" class="btn btn--listen" role="button" [attr.aria-label]="'Escuchar ' + book.titulo">
          <img src="assets/Speaker.png" alt="Escuchar {{ book.titulo }}">
        </a>
      </div>
      <div class="story-card__poster-wrapper">
        <div class="story-card__poster">
          <a [routerLink]="['/info-cuento', book._id]" [attr.aria-label]="'Ver más información sobre ' + book.titulo">
            <img [src]="book.portada" [alt]="'Portada del cuento ' + book.titulo" class="story-card__image">
          </a>
          <a [routerLink]="['/info-cuento', book._id]" class="story-card__more" [attr.aria-label]="'Saber más sobre ' + book.titulo">
            Saber más...
          </a>
        </div>
      </div>
    </div>
  </article>
  